// ============================= Mixins =============================
@mixin customBtn($bg, $color, $fSize, $padding, $transBg, $transColor, $width) {
  display: block;
  background-color: $bg;
  color: $color;
  padding: $padding;
  font-size: $fSize;
  width: $width;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
  border: none;
  outline: none;

  &:hover {
    background-color: $transBg;
    color: $transColor;
  }
}
