// App breakpoinst
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// App colors
$dark: #000000;
$mainGray: #373e46;
$darkRed: #e7040f;
$lightGray: #f7f7f7;
$green: #6aa004;
$orange: #ed6912;
$link: #dfdfdf;
$red: #ff0000;
$blue: #008ddd;
$aqua: aqua;
$mediumRed: #fa8072;
$silvar: silver;
$buyItNow: #f9f9f9;
$customLabel: #383e46;
$pink: #e9446e;
