.products-section-wrapper {
  margin: 60px auto;

  .products-section-content {
    padding-bottom: 30px;
    border-bottom: 1px solid #ebebeb;

    .section-title {
      text-align: center;
      text-transform: uppercase;

      p {
        font-size: 12px;
        margin-top: 10px;
        text-transform: capitalize;
      }
    }

    .just-arrived-products-slider {
      margin-top: 30px;
    }
  }
}
